# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/
*.dll
*.exe
*.log

# Tests
TestResults/

# EF Core Migrations
**/Migrations/
**/migrations/

# Local SQLite database files
*.db
*.db-shm
*.db-wal

# EF Core snapshot file (if present)
**/*ModelSnapshot.cs

# Others
*.db
*.DS_Store
*.swp
*.bak
*.tmp